@import "tailwindcss";
@import "./custom-card.css";

/* Preline UI */
@import "../../node_modules/preline/variants.css";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../node_modules/preline/dist/*.js";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.animated-bg {
    background: radial-gradient(circle at center, #2563eb, #1e3a8a);
    animation: pulse-bg 6s ease-in-out infinite;
}

@keyframes pulse-bg {
    0% {
        background: radial-gradient(circle at center, #2563eb, #1e3a8a);
    }
    50% {
        background: radial-gradient(circle at center, #1d4ed8, #1e3a8a);
    }
    100% {
        background: radial-gradient(circle at center, #2563eb, #1e3a8a);
    }
}
